@import 'bootstrap';
@import 'iziToast/dist/css/iziToast';
@import 'aos/dist/aos';
@import 'uppy/dist/uppy';

#sidebar{
    height: 100%!important;
}
.note-toolbar{
    background-color: rgb(243, 243, 243)!important;
}
.note-editable{
    background-color: white;
}